body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.container {
    background-image: radial-gradient(
        #DD1F02,
        #8A1001
    );
    box-shadow: inset -3px -3px 2px 0px #FF8301, inset 5px 5px 10px 0px rgb(104, 13, 1), -3px -3px 0 0 rgb(255, 187, 1);
    /*box-shadow: 5px 5px 20px yellow, 5px 5px 5px orange, -5px -5px 20px yellow, -5px -5px 5px orange;*/
    width: 45vw;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 25px solid #B61802;
    border-radius: 20px;
    overflow: auto;
}

.question {
    text-align: center;
}

.border {
    position: absolute;
}

.bled {
    height: 18px;
    width: 18px;
    position: absolute;
    background-color: rgb(255, 246, 223);
    border-radius: 50%;
    animation: flash 3s linear 0s infinite;
}

.lLed {
    height: 9px;
    width: 9px;
    position: absolute;
    background-color: rgb(255, 246, 223);
    border-radius: 50%;
    animation: flash 3s linear 1.5s infinite;
}

h1 {
    font-family: 'Monoton';
    color: white;
    text-shadow: 2px 2px rgb(78, 1, 1);
    font-weight: normal;
    margin: 0 5px 5px 5px;
    font-size: 1.8em;
}

button {
    background-color: white;
    border-color: rgb(182, 181, 181);
    border-style: outset;
    width: 50%;
    height: 10%;
    margin-bottom: 5px;
    font-family: 'Roboto Mono';
}

.correct {
    background-color: rgb(82, 253, 60);
}

.incorrect {
    background-color: red;
}

.time {
    font-family: 'Righteous';
    color: white;
    font-weight: bold;
}

@keyframes flash {
    0% {
        background-color: rgb(255, 246, 223);
        box-shadow: 5px 5px 10px 1px rgb(168, 144, 100),
     -5px -5px 10px 1px rgb(168, 144, 100),
      5px -5px 10px 1px rgb(168, 144, 100),
       -5px 5px 10px 1px rgb(168, 144, 100);
        
    }

    49% {
        background-color: rgb(255, 246, 223);
        box-shadow: 5px 5px 10px 1px rgb(168, 144, 100),
     -5px -5px 10px 1px rgb(168, 144, 100),
      5px -5px 10px 1px rgb(168, 144, 100),
       -5px 5px 10px 1px rgb(168, 144, 100);
        
    }

    50% {
        background-color: rgb(73, 73, 73);
        box-shadow: none;
    }

    99% {
        background-color: rgb(90, 90, 90);
        box-shadow: none;
    }

    100% {
        background-color: rgb(255, 246, 223);
        box-shadow: 5px 5px 10px 1px rgb(168, 144, 100),
     -5px -5px 10px 1px rgb(168, 144, 100),
      5px -5px 10px 1px rgb(168, 144, 100),
       -5px 5px 10px 1px rgb(168, 144, 100);
        
    }
}